<div class="modal-header">
  <h4 class="modal-title">{{movie.title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <app-loader [isLoading]="isLoading"></app-loader>

  <iframe *ngIf="!isLoading"
          [src]="videoUrl"
          width="560"
          height="315"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer;autoplay;clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>

